h1 {
  color: #2f5572;
  padding: 20px;
  height: auto;
  -webkit-columns: 200px 2;
     -moz-columns: 200px 2;
          columns: 200px 2;
}
.box a {
  display: block;
  padding: 10px;
}
.box b {
  display: block;
  padding: 10px;
}
